[user]
	email = 26359876+yashdiniz@users.noreply.github.com
	name = Yash Diniz
	signingkey = E7510F9D1C2A0261
[credential]
	helper = cache
	username = yashdiniz
[core]
	editor = nvim
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
[merge]
	tool = nvim
	conflictstyle = diff3
[mergetool "nvim"]
	# https://www.grzegorowski.com/using-vim-or-neovim-nvim-as-a-git-mergetool
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
	trustExitCode = false
[pull]
	rebase = false

; [remote "origin"]
	; tagopt = --tags
	; fetch = +refs/heads/*:refs/remotes/origin/*
	; push = +refs/heads/*:refs/remotes/origin/*
	; push = +refs/archive/*:refs/archive/*
	; fetch = +refs/archive/*:refs/archive/*
[init]
	defaultBranch = main
